.btn {
	display: inline-block;
	box-sizing: border-box; 
	min-width: 150px;
	padding: 20px 25px 21px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	background-color: #061e37;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 8px;
	transition: box-shadow .1s linear;
	&:hover {
		box-shadow: -5px 5px 10px 1px hsla(0, 0, 0, .3);
	}	
	&--w {
		background-color: #fff;
		color: #061e37;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 15px;
	}
	&--gr {
		background-color: #1de9b6;
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 15px;
	}
}