.reviews {
	background: url(../img/reviews/bg.jpg) center / cover no-repeat;
}
.reviews__inner {
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media(max-width: 1300px){
		flex-wrap: wrap;
	}
}
.reviews__column {
	flex: 0 0 50%;
	padding: 50px 0;
	@media(max-width: 1300px){
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25px 0;
	}
}
.reviews__column-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 45px;
	color: #fff;
	max-width: 450px;
	@media(max-width: 1300px){
		max-width: 530px;
	}
	@media(max-width: 550px){
		font-size: 40px;	
	}
}
.reviews__column-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	margin: 25px 0 75px;
	max-width: 530px;
	line-height: 1.5;
	@media(max-width: 1300px){
		margin: 25px 0 50px;
	}
}
.reviews__column-btn {
	@media(max-width: 550px){
		width: 100%;
	}
}
.btn {}

.review__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 75px;
	&:last-child {
		margin-bottom: 0;
	}
	@media(max-width: 1300px){
		margin-bottom: 50px;
	}
}
.review__avatar {
	img {
		border-radius: 50%;
		margin-left: -50%;
		@media(max-width: 1300px){
			margin: 0 20px 0 0;
		}

	}
}
.review__inner {
	max-width: 650px;
	background-color: #fff;
	border-radius: 5px;
	padding: 30px 50px 30px 30px;
	box-shadow: -5px 5px 10px 1px hsla(0, 0, 0, .15);
	@media(max-width: 550px){
		padding: 15px;
	}
}
.review__name {
	color: #061e37;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
	@media(max-width: 550px){
		font-size: 16px;
		margin-bottom: 10px;
	}
}
.review__text {
	color: #78909c;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	font-style: italic;
	@media(max-width: 550px) {
		font-size: 14px;
		line-height: 1.2;
	}
}